@mixin border-radius() {
  border-radius: 2px;
  border: none;
}

@mixin flexbox-center() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin border($color) {
  border: 1px solid $color;
}

@mixin placeholder() {
  &::placeholder {
    @content;
    opacity: 1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    @content;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    @content;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @content;
    opacity: 1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    @content;
    opacity: 1;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    @content;
  }
}