@mixin  border-radius() {
  border-radius: 2px;
  border: none;
}

@mixin input-container-bg() {
  background-color: rgba(255, 255, 255, 0.2);
}

@mixin flexbox-center() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow() {
  box-shadow: -1px 4px 4px $gray, 1px 0 3px $gray;
}

@mixin border($color) {
  border: 1px solid $color;
}

@mixin input-height-unfocused() {
  height: $input-height;
}